.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

app-navbar {
    width: 250px;
    /* specific width for the sidebar */
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}